@page "/placeorder"
@inject ProductService ProductService
@inject OrderService OrderService
@using Experiment21.Models;
@using Experiment21.Services;
@using Microsoft.AspNetCore.Components.Forms

<style>
    .stacked-form {
        display: flex;
        flex-direction: column;
    }

    .stacked-form div {
        margin-bottom: 10px;
    }
</style>

<EditForm Model="newOrder" OnValidSubmit="PlaceNewOrder" class="stacked-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <InputText id="customerName" @bind-Value="newOrder.CustomerName" placeholder="Customer Name" />
        <ValidationMessage For="@(() => newOrder.CustomerName)" />
    </div>

    <div>
        <InputText id="address" @bind-Value="newOrder.Address" placeholder="Address" />
        <ValidationMessage For="@(() => newOrder.Address)" />
    </div>

    @foreach(var product in products)
    {
        <div>
            @product.Product.Name (@product.Product.Price.ToString("C"))
            <InputNumber @bind-Value="product.Quantity" min="0" />
        </div>
    }

    <div>
        <button type="submit">Place Order</button>
    </div>
</EditForm>

@code {
    private Order newOrder = new Order();
    private List<ProductViewModel> products;

    protected override async Task OnInitializedAsync()
    {
        var productList = await ProductService.GetProductsAsync();
        products = productList.Select(p => new ProductViewModel { Product = p }).ToList();
    }

    private async Task PlaceNewOrder()
    {
        newOrder.OrderDetails = new List<OrderDetail>();

        foreach (var productVM in products.Where(p => p.Quantity > 0))
        {
            newOrder.OrderDetails.Add(new OrderDetail
                {
                    ProductId = productVM.Product.Id,
                    Quantity = productVM.Quantity
                });
        }

        await OrderService.CreateOrderAsync(newOrder);
        newOrder = new Order();

        // Reset all the quantity selectors
        foreach (var productVM in products)
        {
            productVM.Quantity = 0;
        }
    }



    private class ProductViewModel
    {
        public Product Product { get; set; }
        public int Quantity { get; set; }
    }
}
