@page "/placeorder"
@inject OrderService OrderService
@using Experiment21.Models;
@using Experiment21.Services;
@using Microsoft.AspNetCore.Components.Forms

<style>
    .stacked-form {
        display: flex;
        flex-direction: column;
    }

    .stacked-form div {
        margin-bottom: 10px;
    }
</style>

<EditForm Model="newOrder" OnValidSubmit="PlaceNewOrder" class="stacked-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <InputText id="customerName" @bind-Value="newOrder.CustomerName" placeholder="Customer Name" />
        <ValidationMessage For="@(() => newOrder.CustomerName)" />
    </div>

    <div>
        <InputText id="address" @bind-Value="newOrder.Address" placeholder="Address" />
        <ValidationMessage For="@(() => newOrder.Address)" />
    </div>

    <!-- You'd typically have a UI to select products and specify quantities here -->
    <div>
        <button type="submit">Place Order</button>
    </div>
</EditForm>

@code {
    private Order newOrder = new Order();

    private void PlaceNewOrder()
    {
        OrderService.CreateOrder(newOrder);
        newOrder = new Order();
    }
}
